Click here to verify your email.<br>
This will allow you to receive notifications when you receive new feedback, as well as receive updates about the app.<br>
<a class="button" href="<%= @host %>/dashboard?verifyEmail=<%= @verify_email_token %>">verify email</a>
<br>
