<article id="proposed-session" class="wrap text-center">
    <section>
        <h1>Launch a new feedback session</h1>
        <p>Users will be able to visit the link to immediately give feedback once a session is launched<p>
        <p>The session will last until it is closed by you<p>
        <p>Once closed, you will be able to view the feedback</p>
    </section>
    <section>
        <button id="launch-session">Launch session</button>
    </section>
</article>
