<%= render_layout "app.html", assigns do %>
    <header id="header">
        <div class="wrap">
            <span class="logo"><a href="/">Kritikos</a></span>
            <button id="log-in">Log in</button>
        </div>
    </header>

    <%= render @view_module, @view_template, assigns %>
<% end %>