@import "./templates/global.css";
@import "./templates/header.css";

article {
    padding-top: 20px;
}

section#activities .wrap {
    display: flex;
    justify-content: space-evenly;
}

.menu-item {
    display: flex;
    text-align: center;
    border-style: solid;
    border-color: lightgray;
    border-width: 1px;
    max-height: 450px;
    max-width: 450px;
    min-height: 90px;
    min-width: 90px;
    width: 18vw;
    height: 18vw;
    font-size: calc(1.5vw + 10px);
}

.menu-item:hover {
    background-color: #f2fffe;
    cursor: pointer;
}

.menu-item div {
    margin: auto;
}

.text-center {
    text-align: center;
}

/* current session */

#current-session-label {
    color: red;
    font-weight: bold;
}

/* previous sessions */

.summary {
    display: grid;
    grid-template-columns: 1fr 200px 100px;
}

svg {
    height: 40px;
}

.summary#header {
    border-bottom: 1px solid black;
}

#summaries .summary.entry {
    height: 80px;
}

#summaries .summary.entry div {
    margin: auto 0;
}

#summaries #keyword {
    padding-left: 20px;
}

#summaries .summary.entry:nth-child(even) {
    background: lightcyan;
}

/* previous session */

#previous-session {
    text-align: center;
}

#previous-session .list {
    padding-top: 20px;
}

#previous-session section#votes .list {
    display: flex;
    justify-content: center;
}

#previous-session section#texts .list #text {
    display: grid;
    grid-template-columns: 5fr 6fr;
    column-gap: 10px;
}

#previous-session section#texts .list #text h3 {
    text-align: left;
}

#previous-session section#texts .list #text svg {
    float: right;
}

#previous-session #texts #quotation-mark {
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
}

#previous-session #texts span {
    font-size: 15px;
}
