@import "./templates/global.css";
@import "./templates/header.css";

section#activities .wrap {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
    height: 20vh;
}

.menu-item {
    display: flex;
    text-align: center;
    margin: auto;
    border-style: solid;
    border-color: lightgray;
    border-width: 1px;
    height: 90%;
    width: 90%;
    font-size: 20px;
}

.menu-item:hover {
    background-color: #f2fffe;
    cursor: pointer;
}

.menu-item div {
    margin: auto;
}

.text-center {
    text-align: center;
}

section {
    padding-top: 20px;
}

#current-session-label {
    color: red;
    font-weight: bold;
}

/* previous sessions */

article#summaries {
    padding-top: 20px;
}

.summary {
    display: grid;
    grid-template-columns: 1fr 200px 50px;
}

svg {
    height: 40px;
}

.summary#header {
    border-bottom: 1px solid black;
}

#summaries .summary.entry:nth-child(even) {
    background: lightcyan;
}

/* previous session */

#previous-session {
    text-align: center;
}

#previous-session .list {
    padding-top: 20px;
}

#previous-session section#votes .list {
    display: flex;
    justify-content: center;
}

#previous-session section#texts .list #text {
    display: grid;
    grid-template-columns: 5fr 6fr;
    column-gap: 10px;
}

#previous-session section#texts .list #text h3 {
    text-align: left;
}

#previous-session section#texts .list #text svg {
    float: right;
}

#previous-session #texts #quotation-mark {
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
}

#previous-session #texts span {
    font-size: 15px;
}

/* all sessions */

#all-sessions {
    text-align: center;
}