@import "./templates/global.css";
@import "./phoenix.css";

/* HEADER */


body {
    height: calc(100vh - 120px);
}

main {
    margin-top: 120px;
}

header {
    position: fixed;
    height: 120px;
    background: #fff;
    background: rgba(255, 255, 255, 0.9);
    left: 0;
    right: 0;
    top: 0;
    z-index: 99;
}

header .wrap {
    padding: 35px 0 10px;
}

header:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    right: 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.landing-action {
    float: right;
    align-self: center;
}

button #dashboard {
    width: 150px;
}


/* CONTENT */
.saw:after {
    bottom: -60px;
    content: '';
    position: absolute;
    border-left: transparent 60px solid;
    border-right: transparent 60px solid;
    z-index: 2;
}

#hero {
    background-color: aliceblue;
}

#hero.top {
    width: 100%;
}

#hero.top div {
    padding-right: 0;
    min-height: calc(100vh - 120px);
    display: flex;
    align-items: center;
    justify-content: center;
}

#hero.top div h1 {
    font-size: 2.5em;
    line-height: 1.8;
}
.row {
    position: relative;
}

.insert {
    position: absolute;
}

.insert.left {
    left: 0;
}

.insert.right {
    right: 0;
}

.insert.bottom {
    bottom: 0;
}

svg {
    height: 78%;
    width: 22vw;
}

article {
    overflow-y: hidden;
    margin-bottom: 50px;
}

section {
    padding: 20px;
}

section .step-number {
    font-family: "grec";
    font-size: 1.3em;
}

section button {
    margin: 20px;
}

.wrap {
    min-height: 280px;
    padding: 80px 0 0 0;
    padding-right: 25%;
}

.wrap:after {
    left: 2%;
    right: auto;
    border-top: 60px aliceblue solid;
}

.wrap.reverse {
    padding-right: 0;
    padding-left: 25%;
}
.wrap.reverse:after {
    right: 2%;
    left: auto;
    border-top: 60px white solid;
}

.word-rotate {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 10em;
    height: 1em;
    position: relative;
    display: inline-block;
}

.word-rotate li {
    height: 1em;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.5s;
}

.info {
    text-align: center;
    padding-right: 0;
}

.testimonial {
    display: grid;
    grid-template-columns: 100px 1fr;
}
.testimonial img {
    border-radius: 50%;
    border: 2px lightgray solid;
}

#pricing #pricing-tiers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 15px;
    gap: 10px;
    height: 500px;
}

#pricing .tier h5 {
    font-weight: bold;
    color: gray;
}

#pricing .tier {
    display: grid;
    grid-template-rows: 2fr 30px 60px 4fr 40px;
    padding: 10px;
    border: 1px solid #eaeaea;
}
#pricing .tier img {
    margin: auto;
    width: 60px;
}
#pricing .tier .price {
    font-weight: bold;
}
#pricing .tier .price span {
    font-size: 3em;
    margin: 3px;
}
#pricing .tier a {
    margin: auto;
}
#pricing .tier .features {
    margin: auto;
}
#pricing .features ol {
    text-align: left;
}
#pricing .features li {
    list-style: "✅";
    list-style-position: inside;
}

/* Mobile */

@media only screen and (max-width: 1320px) {
    #hero.top div #word-carousel {
        font-size: 2em;
    }
}

@media only screen and (max-width: 1060px) {
    #hero.top div #word-carousel {
        font-size: 1.7em;
        line-height: 2;
    }
    #pricing #pricing-tiers {
        grid-template-columns: 1fr;
        height: auto;
    }
}

@media only screen and (max-width: 900px) {
    #hero.top div #word-carousel {
        font-size: 1.5em;
        line-height: 2.2;
    }
}

@media only screen and (max-width: 800px) {
    #hero.top div #word-carousel {
        font-size: 1.2em;
        line-height: 2.3;
    }
}

@media only screen and (max-width: 650px) {
    header .wrap {
        width: 80%;
        line-height: normal;
    }
    article section .wrap {
        width: 80%;
        display: flex;
        flex-direction: column;
        padding-right: 0%;
        padding-bottom: 10%;
    }
    .wrap svg {
        height: 150px;
        width: 80%;
    }
    article section .wrap .insert {
        position: relative;
    }

    article section .wrap.reverse {
        padding-left: 0%;
    }
    #word-carousel {
        font-size: 1.3em;
    }
    .testimonial img {
        margin-top: 45%;
    }
}


@media only screen and (max-width: 480px) {
    #hero.top div #word-carousel {
        font-size: 1em;
        line-height: 2.4;
    }
}

@media only screen and (max-width: 380px) {
    #hero.top div #word-carousel {
        font-size: 0.9em;
        line-height: 2.8;
    }
}