@import "./templates/global.css";
@import "./phoenix.css";

#live-session {
    width: 80%;
    margin: 0 auto;
    max-width: 800px;
}

#question {
    font-size: 3em;
    padding: 50px;
    text-align: center;
}

.votes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.votes div {
    height: 60%;
    width: 60%;
    margin: auto;
}

.votes div svg:hover {
    cursor: pointer;
}