<link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/livesession_form.css") %>"/>
<article id="session-form">
    <section>
    <%= svg_image("forming_ideas", class: "forming-ideas") %>
    <h1>Thanks for the feedback!</h1><br/>
    <a href="/">What is Kritikos?</a>
    </section>
</article>
