/* reference: http://snapsvg.io/ */

body {
    margin: 0;
}

@font-face {
    font-family: "grec";
    font-style: normal;
    font-weight: 300;
    src: url("/fonts/grec/grec.ttf") format("truetype");
}

.clickable:hover {
    cursor: pointer;
    opacity: 0.5;
}

*[href] {
    cursor: pointer;
}

.wrap {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}
