main {
    outline: none !important;
}  
body {
    margin: 0;
    user-select: none;
}

.mobile {
    font-size: 0.8em;
}

#logo {
    float: left;
    font-family: "grec";
    font-size: 32px;
}
#logo:hover {
    cursor: pointer;
}

@font-face {
    font-family: "grec";
    font-style: normal;
    font-weight: 300;
    src: url("/fonts/grec/grec.ttf") format("truetype");
}

.clickable:hover {
    cursor: pointer;
    opacity: 0.5;
}

a {
    cursor: pointer;
}

*[href] {
    cursor: pointer;
}

[v-cloak] > * { display:none }
[v-cloak]::before { content: "loading…" }

.wrap {
    width: 55%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

button.warning {
    background-color: red;
    border-color: lightsalmon;
}

button.confirm {
    background-color: rgb(11, 146, 11);
    border-color: green;
}

.error {
    color: red;
    font-weight: bold;
    font-style: italic;
}

table td {
    border: transparent;
}


/* vue tags input */

.vue-tags-input .ti-input {
    border-radius: .4rem;
}
.vue-tags-input .ti-input {
    height: 38px;
}
.vue-tags-input .ti-tags {
    height: 28px;
}
.vue-tags-input .ti-new-tag-input-wrapper,.ti-new-tag-input,.ti-tag {
    height: 28px !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
